
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --green0: #CBDC51;
    --green1: #55CB95;
    --green2: #006B54;
    --BackgroundPage: #F5F8DD; 
}
@font-face {
    font-family: Lato-Regular;
    src: url("../font/lato/Lato-Regular.ttf");
}
@font-face {
    font-family: Lato-Bold;
    src: url("../font/lato/Lato-Bold.ttf");
}