@media screen and (max-width: 800px) {
	#container-all {
		overflow: hidden;
		height: 100vh;
	}

	#bg-index {
		position: relative;
		background: white;
		width: 100%;
	}

	#bg-index img {
		position: absolute;
		left: -380px;
		top: 0px;
		z-index: -100;
		height: 100vh;
	}

	.text-primary-index {
		text-align: center;
		margin-top: 1rem;
		line-height: 38px;
		color: #212121;
	}

	header {
		display: flex;
		justify-content: flex-start;
	}

	#chkMenu {
		display: none;
	}

	#btnMenu-label {
		display: flex;
		flex-direction: column;
		width: 3rem;
		margin-top: 1rem;
		margin-left: 0.5rem;
	}

	.menu-polygon {
		width: 90%;
		height: 0.6rem;
		margin: auto;
		margin-bottom: 0.2rem;
		background: var(--green0);
		border: 0.5px solid dimgray;
		border-radius: 10px;
	}

	#cont-logo {
		display: flex;
		color: var(--green2);
		margin-left: 2.2rem;
		margin-top: 1.5rem;
		width: 10rem;
		justify-content: space-between;
		align-items: center;
		font-family: Lato-Regular;
	}

	#cont-logo img {
		width: 2.8rem;
		height: 2.8rem;
	}

    a {
        text-decoration: none;
        font-size: 2.4rem;
        font-weight: 600;
        color: #212121;
        position: absolute;
        left: 25%;
        bottom: 4%;
        display: flex;
        flex-direction: column;
    }
	a > img {
		padding: 0;
		margin: 0 auto;
	}

	.historia {
		color: #212121;
		position: absolute;
		top: 100%;
		height: 100vh;
	}

	.historia > img {
		width: 100%;
	}
	.part {
		width: 55%;
		padding: 1% 10%;
	}

	.part.right {
		text-align: right;

		padding: 1% 10% 1% 1%;
		margin-left: 45%;
	}

	.historia.part2 {
		position: absolute;
		top: 178%;
		margin-bottom: 400%;
	}
    h3 {
        color: #212121;
        position: absolute;
        top: 277%;
        width: 80%;
        padding-left: 10%;
    }
    .experiencias {
        width: 100vw;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: 290%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    #exp1, #exp2, #exp3 {
        padding-bottom: 6%;
    }
    #exp1 > img , #exp2 > img, #exp3 > img {
        width: 90vw;
    }
    #exp1 > a {
        top: 25%;
        left: 22%;
    }
     
    #exp2 > a {
        top: 58%;
        left: 22%;
    }
    #exp3 > a {
        top: 91.5%;
        left: 22%;
	}
	
	#sponsored-all {
		position: absolute;
		top: 480%;
		left: 0px;
		width: 100vw;
		padding: 1rem;
	}

	.sponsored-elements {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem auto;
	}

	.sponsored-elements #simg1 {
		width: 7rem;
		height: 6rem;
	}
	.sponsored-elements #simg2{
		width: 12rem;
		height: 5rem;
		margin-bottom: 0.5rem;
	}
	.sponsored-elements #simg3 {
		width: 5rem;
		height: 6rem;
		margin-bottom: 1rem;
	}
	.sponsored-elements #simg4 {
		width: 12rem;
		height: 4rem;
	}

	.rutapormi {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;
	}

	.contentPrice {
		width: 50%;
		margin: auto;
		margin-top: 0.5rem;
		padding: 0.5rem;
	}
	.contentPrice h4 {
		color: #CBDC51;
		padding: 0.5rem;
		font-family: "Lato";
	}
	.contentPrice h5 {
		color: black;
		font-family: "Lato";
		padding-left: 0.5rem;
		font-size: 12pt;
	}
}
