
@media screen and (max-width: 800px) {


    #container-all {
        overflow: hidden;
        height: 100vh;
       }
   
       #bg-index {
           position: relative;
           background: white;
           width: 100%;
       }
   
       #bg-index img {
           position: absolute;
           left: -180px;
           top: 0px;
           z-index: -100;
           height: 100vh;
       }
   
       .text-primary-index {
           text-align: center;
           margin-top: 1rem;
           line-height: 38px;
           color: #212121;
       }

    header {
        display: flex;
        justify-content: flex-start;
    }

    #chkMenu {
        display: none;
    }

    #btnMenu-label {
        display: flex;
        flex-direction: column;
        width: 3rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .menu-polygon {
        width: 90%;
        height: 0.6rem;
        margin: auto;
        margin-bottom: 0.2rem;
        background: var(--green0);
        border: 0.5px solid dimgray;
        border-radius: 10px;
    }

    #cont-logo {
        display: flex;
        color: var(--green2);
        margin-left: 2.2rem;
        margin-top: 1.5rem;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        font-family: Lato-Regular;
    }

    #cont-logo img {
        width: 2.8rem;
        height: 2.8rem;
    }

    a {
        text-decoration: none;
        font-size: 2.4rem;
        font-weight: 600;
        color: #212121;
        position: absolute;
        left: 32%;
        bottom: 4%;
        display: flex;
        flex-direction: column;
    }
    a > img {
        padding: 0;
        margin: 0 auto;
    }
}