
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --green0: #CBDC51;
    --green1: #55CB95;
    --green2: #006B54;
    --BackgroundPage: #F5F8DD; 
}

