
@media screen and (max-width: 800px) {

    #container-all {
     overflow: hidden;
     height: 100vh;
    }

    header {
        display: flex;
        justify-content: flex-start;
    }

    #chkMenu {
        display: none;
    }

    #cont-logo {
        display: flex;
        color: var(--green1);
        margin-left: 2.2rem;
        margin-top: 1.5rem;
        width: 10rem;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
    }

    #cont-logo img {
        width: 2.8rem;
        height: 2.8rem;
    }

    #btnMenu-label {
        display: flex;
        flex-direction: column;
        width: 3rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .menu-polygon {
        width: 90%;
        height: 0.6rem;
        margin: auto;
        margin-bottom: 0.2rem;
        background: yellow;
        border: 0.5px solid dimgray;
        border-radius: 10px;
    }

    
    #bg-index {
        position: relative;
    }
    #bg-index img {
        position: absolute;
        left: -180px;
        top: 0px;
        width: 200%;
        height: 100vh;
        border: 2px solid red;
        z-index: -100;
    }

}