
@media screen and (max-width: 800px) {

    #container-all {
     overflow: hidden;
     height: 100vh;
    }

    #bg-index {
        position: relative;
        background: white;
    }
    #bg-index img {
        position: absolute;
        left: -180px;
        top: 0px;
        width: 200%;
        height: 100vh;
        border: 2px solid red;
        z-index: -100;
    }

    .text-primary-index {
        text-align: center;
        font-family: Lato-Bold;
        margin-top: 1rem;
        line-height: 38px;
    }

    .text-primary-index h2 {
        padding: 0rem;
    }

    .arrows-scroll {
        position: absolute;
        bottom: 1rem;
        left: 35%;
    }

    .triangle {
        border-style: solid;
        border-width: 18px;
        width: 0;
        height: 0;
    }

    .triangle > div {
        border-style: solid;
        border-width: 10px;
        width: 0;
        height: 0;
        position: relative;
    }

    .triangle.arrow-down {
        border-color: transparent transparent white transparent;
    }

    .triangle.arrow-down > div {
        border-color: transparent transparent green transparent;
        top: 1px;
        left: -10px;
    }

}